<!DOCTYPE html>
<!-- doctype informa ao agente de usuario a versão do html que deve ser renderizada-->
<html lang="pt-br">
    <head>
        <title>TEMPLATE</title>
        <meta charset="UTF-8">
        <meta name="author" content="Davi">
        <meta name="description" content="ajuda a estruturar um código html">
        <meta name="keywords" content="html5, tecnologia, estruturar, melhorar">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <h2>BEAUTIFUL RESPONSIVE WEB SITES<h2>
            <h1>BUILT WITH W3.CSS</h1>
            <p>LEARN W3.CSS</p>
        </header>

        <main>
            <section>
                <article>
                    <h3>Responsvie</h3>
                    <p>Built-in responsiveness</p>
                    <p>Mobile first fluid grid</p>
                    <p>Fits any screen sizes</p>
                    <p>PC Tablet and Mobile</p>
                </article>

                <article>
                    <h3>Standard CSS</h3>
                    <p>Standard CSS only</p>
                    <p>Easy to learn</p>
                    <p>No need for jQuery</p>
                    <p>No JavaScript library</p>
                </article>

                <article>
                    <h3>Design</h3>
                    <p>Paper like design</p>
                    <p>Bold colors and shadows</p>
                    <p>Equal across platforms</p>
                    <p>Equal across devices</p>
                </article>
            </section>

            <section>
                <h2>Color Classes</h2>
                <p>Red</p>
                <p>Blue</p>
                <p>Blue Grey</p>
                <p>Teal</p>
                <p>Yellow</p>
                <p>Orange</p>
            </section>

            <section>

            </section>
        </main>

    </body>
</html>